@import "src/styles/scaffold";

[data-fs-regionalization-button] {
  padding-right: var(--fs-spacing-1);
  margin-left: calc(-1 * var(--fs-spacing-2));

  [data-fs-button][data-fs-button-variant="tertiary"] {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }
}
