.order-summary[data-order-summary] {
  padding: var(--fs-spacing-3);

  li {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;

    &[data-order-summary-discount] {
      padding-bottom: 12px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #41a201;

      @include media(">=notebook") {
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 21px;
      }
    }

    &:last-of-type {
      margin-bottom: var(--fs-spacing-2);
    }
  }
}

.text__title-subsection {
  padding-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #666666;

  @include media(">=notebook") {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 21px;
  }
}

.text__subtotal {
  padding-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;

  @include media(">=notebook") {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 21px;
  }
}
