@import "src/styles/scaffold";

.filter[data-store-filter] {
  > .text__title-mini-alt {
    display: flex;
    align-items: center;
    height: var(--product-listing-row-height);
    margin-bottom: var(--fs-spacing-0);
    font-size: 24px;
    font-weight: 700;

    @include media("<notebook") {
      display: none;
    }
  }

  [data-store-accordion] {
    [data-store-list] {
      padding-bottom: var(--fs-spacing-3);

      li:not(:last-child) {
        margin-bottom: var(--fs-spacing-3);
      }
    }

    [data-accordion-item] {
      border-bottom: 1px solid #cacbcc;
    }
  }

  [data-accordion-item] [data-store-button] {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;

    #desktop-store-filter-accordion-panel {
      height: 50px;
    }

    @include media(">=notebook") {
      line-height: 1.25;
    }

    &[aria-expanded="true"] {
      font-weight: 600;
    }

    [data-store-icon] [data-icon] {
      display: none;
    }

    [data-store-icon] [data-icon="expanded"] {
      display: initial;
    }

    [data-store-icon] [data-icon="collapsed"] {
      display: initial;
    }
  }
}

.filter[data-store-filter] [data-accordion-item] [data-store-button][aria-expanded="true"] ~ [data-accordion-panel] {
  min-height: 55px;

  @include media(">=notebook") {
    min-height: 40px;
  }
}

.filter__item {
  display: flex;
  align-items: center;

  [data-store-checkbox] {
    flex-shrink: 0;
    width: rem(20px);
    height: rem(20px);
    border: 2px solid #c9c9c9;
  }

  [data-store-label] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: var(--fs-spacing-1);
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 60%);
  }

  [data-store-badge] {
    margin-left: var(--fs-spacing-1);
  }
}

.filter-modal__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text__lead {
    font-weight: bold;
  }

  [data-fs-button-icon] {
    margin-right: calc(-1 * var(--fs-spacing-1));
  }
}

.filter-modal__body {
  --filter-footer-height: 80px;

  height: calc(100vh - var(--filter-footer-height));
  padding:
    var(--fs-spacing-4) var(--fs-spacing-4)
    calc(var(--filter-footer-height) + var(--fs-spacing-4));
  overflow-y: auto;
}

.filter-modal__footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--fs-spacing-3);
  background-color: var(--fs-color-neutral-0);
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);

  .apply-button {
    width: 48%;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    background: #004e98;
    border-radius: 4px;
  }

  .clear-button {
    width: 48%;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #004e98;
    background: transparent;
    border: 1px solid #004e98;
    border-radius: 4px;
  }
}

.hidden-mobile {
  &:last-of-type {
    .filter {
      .text {
        &__title-mini-alt {
          display: none;
        }
      }

      &__item {
        display: block;
      }
    }
  }
}
