@import "src/styles/scaffold";

.title-container {
  width: 100%;
  max-width: var(--fs-grid-breakpoint-desktop);
  padding: 62px 16px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background: #004e98;

  @include media(">=notebook") {
    font-size: 32px;
    line-height: 48px;
  }
}

.institucional-form-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include media(">notebook") {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 0 auto;
  }

  .text-container {
    padding: 16px;

    @include media(">=notebook") {
      width: 85%;
      padding: unset;
      margin-top: 32px;
      margin-left: 32px;
    }
  }

  p {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;

    @include media(">=notebook") {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
