@import "src/styles/scaffold";

.partner-image {
  width: 100%;
  height: auto;

  @include media(">=tablet", "<desktop") {
    width: 320px;
  }

  @include media(">=desktop") {
    width: 344px;
  }
}
