@import "src/styles/scaffold";

.component-shelf-container {
  width: 100%;

  @media (max-width: 767px) {
    padding: 0 15px;
  }

  .title {
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #dddddd;
  }

  .pretitle {
    font-size: 14px;
    color: #ff3452;
  }

  &.teachers {
    .carousel-content {
      .carousel-arrow-button-prev,
      .carousel-arrow-button-next {
        top: calc(50% - 15px);

        @include media(">=tablet") {
          top: calc(50% - 45px);
        }
      }
    }

    img {
      height: 246px;
      object-fit: cover;
    }

    .component-shelf__content {
      position: relative;
    }
  }

  &.partner {
    @media screen and (max-width: 767px) {
      img {
        height: 128px;
        object-fit: cover;
      }
    }
  }

  .carousel-content {
    position: relative;
    padding-top: 16px;

    @include media(">=desktop") {
      margin: 0 -16px;
    }

    .carousel-arrow-button-prev,
    .carousel-arrow-button-next {
      position: absolute;
      top: calc(50% - 32px);
      z-index: 2;
      cursor: pointer;
    }

    .carousel-arrow-button-prev {
      left: 8px;

      @include media(">=phonemid") {
        left: 2px;
      }

      @include media(">=notebook") {
        left: -4px;
      }
    }

    .carousel-arrow-button-next {
      right: 8px;

      @include media(">=phonemid") {
        right: 2px;
      }

      @include media(">=notebook") {
        right: -4px;
      }
    }
  }

  @include media(">=tablet") {
    margin: 2rem auto;
  }

  @include media(">=tablet", "<desktop") {
    max-width: var(--fs-grid-breakpoint-notebook);
  }

  @include media(">=desktop") {
    max-width: var(--fs-grid-breakpoint-desktop);
  }

  .carousel-container {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
