@import "src/styles/scaffold";

.component-shelf-container {
  width: 100%;

  &.teachers {
    .carousel-content {
      .carousel-arrow-button-prev,
      .carousel-arrow-button-next {
        top: calc(50% - 15px);
        @include media(">=tablet") {
            top: calc(50% - 45px);
        }
      }
    }

    img {
        height: 246px;
        object-fit: cover;
    }

    .component-shelf__content {
        position: relative;
    }
  }

  .carousel-content {
    .carousel-arrow-button-prev,
    .carousel-arrow-button-next {
      top: calc(50% - 32px);
    }
  }

  @include media(">=tablet") {
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 2rem auto;
  }

  .carousel-container {
        >div {
            .component-shelf__content {
                padding: 0 8px;
            }
            @include media(">=tablet") {
                .component-shelf__content {
                    padding: 0 12px;
                }
            }
        }
  }

  .component-shelf__content {
    h3,p {
        position: absolute;
        z-index: 999;
        left: 20px;
    }

    h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #fff;
      bottom: 58px;

      @include media(">=tablet") {
        color: #000;
      }
    }

    p {
      font-size: 12px;
      font-style: normal;
      color: #f5f5f5;
      bottom: 30px;

      font-weight: 400;

      @include media(">=tablet") {
        color: #555555;
        font-weight: normal;
        font-weight: 700;
      }
    }

    @include media(">=tablet") {
        h3,p {
            position: unset
        }
    }
  }

  img {
    width: 100%;
  }
}
