@import "src/styles/scaffold";

.product-details {
  padding: 0 16px;
  margin-top: var(--fs-spacing-3);
  font-family: Montserrat, sans-serif;

  @include media(">=tablet") {
    padding: unset;
  }

  &__price {
    &-modal {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 15vw;
      left: 0;
      width: 100%;
      max-width: 314px;
      height: 355px;
      margin: 0 auto;
      background-color: #fff;

      @include media(">=notebook") {
        top: 10vw;
        max-width: 548px;
        height: 680px;
      }
    }

    &-list {
      .modal-open {
        padding-left: 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 130%;
        color: #ff3452;
        text-decoration: underline;
        background-color: #fff;
        border: 0;
      }

      &--top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
        background: #ff3452;

        @include media(">=notebook") {
          padding: 22px 40px;
        }

        button {
          background: #ff3452;
          border: 0;

          @include media(">=notebook") {
            position: relative;
            width: 22px;
            height: 22px;
          }
        }

        svg {
          @include media(">=notebook") {
            width: 22px;
            height: 22px;
          }
        }

        h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 150%;
          color: #fff;

          @include media(">=notebook") {
            font-size: 20px;
          }
        }
      }

      &--content {
        li {
          width: auto;
          padding: 16px 0;
          margin: 0 16px;
          border-bottom: 1px solid #dddddd;

          @include media(">=notebook") {
            padding: 18px 0;
            margin: 0 40px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;

            @include media(">=notebook") {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &__product {
    padding: 0;
  }

  &__movie {
    margin-bottom: 32px;

    iframe {
      width: 100%;
      height: auto;
      min-height: 180px;

      @include media(">=notebook") {
        min-height: 305px;
      }
    }
  }

  &__infos {
    display: flex;
    margin-bottom: 16px;

    @include media(">=notebook") {
      align-items: center;
    }

    &-image {
      margin-right: 16px;
    }

    &--text {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
      text-align: justify;
      white-space: break-spaces;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      @include media(">=notebook") {
        font-size: 16px;
      }
    }

    img {
      width: 99px;
      height: 99px;
      object-fit: cover;

      @include media(">=notebook") {
        width: 150px;
        height: 150px;
      }
    }

    h3 {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 700;
      line-height: 130%;

      @include media(">=notebook") {
        font-size: 20px;
        line-height: 150%;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
      color: #555555;

      @include media(">=notebook") {
        font-size: 14px;
      }
    }

    a {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
      color: #ff3452;

      @include media(">=notebook") {
        font-size: 14px;
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.product-details__body {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-4);
  margin-top: var(--fs-spacing-3);

  .product-details__title {
    max-width: 348px;

    .product-title {
      &__header {
        [data-tags-container] {
          width: fit-content;
          padding: 2px 8px;
          background-color: #ff3452;
          border-radius: 4px;

          [data-tag-category],
          [data-tag-collection] {
            font-size: var(--fs-text-size-0);
            font-weight: var(--fs-text-weight-bold);
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .text__title-product {
          font-size: 20px;
          font-weight: var(--fs-text-weight-bold);
          line-height: 150%;
        }
      }
    }
  }

  @include media(">=tablet") {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, max-content));
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
    column-gap: var(--fs-spacing-4);
  }
}

.product-details__image {
  position: relative;
  left: calc(-1 * var(--fs-grid-padding));
  width: calc(100% + 2 * var(--fs-grid-padding));

  [data-gatsby-image-wrapper] {
    @include media(">=tablet") {
      border-radius: var(--fs-border-radius-default);
      transform: translate3d(0, 0, 0);
    }
  }

  @include media(">=tablet") {
    left: 0;
    grid-row: 1 / span 2;
    grid-column: span 7;
    width: 100%;
    margin-bottom: var(--fs-spacing-4);
  }

  img {
    width: 100%;
    height: auto;

    @include media(">=notebook") {
      max-width: 780px;
      max-height: 400px;
    }
  }
}

.product-details__content {
  display: flex;
  flex-direction: column;
  margin-top: var(--fs-spacing-3);

  .product-details__description .text__title-subsection {
    margin-bottom: var(--fs-spacing-3);
  }

  &-right {
    margin-top: 24px;

    @include media (">=notebook") {
      padding: 0 0 0 32px;
      margin-top: 0;
      border: 0;
    }
  }

  .product-details__description {
    width: 100%;
    max-width: 780px;
  }

  @include media(">=tablet") {
    grid-column: span 7;
    margin-top: 0;
  }

  @include media(">=notebook") {
    flex-direction: row;
    grid-column: span 12;
  }
}

.product-details__pricing {
  max-width: 548px;
  height: fit-content;
  padding: var(--fs-spacing-3);
  margin: var(--fs-spacing-4) 0 0;
  background-color: #ff3452;
  border-radius: 8px;

  @include media(">=notebook") {
    max-width: unset;
    margin: var(--fs-spacing-4) 0;
  }

  .product-details__title {
    margin-bottom: var(--fs-spacing-1);
    font-size: var(--fs-text-size-2);
    font-weight: var(--fs-text-weight-bold);
    line-height: 21px;
    color: #fff;
    border: none;

    @include media(">=notebook") {
      font-size: var(--fs-text-size-3);
      line-height: 26px;
    }
  }

  .product-details__subtitle {
    margin-bottom: var(--fs-spacing-4);
    font-size: var(--fs-text-size-0);
    font-weight: var(--fs-text-weight-regular);
    line-height: 16px;
    color: #fff;

    @include media(">=notebook") {
      font-size: var(--fs-text-size-1);
      line-height: 18px;
    }
  }

  .product-details__see-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 48px;
    padding: var(--fs-spacing-1);
    background-color: #fff;
    border-radius: 8px;

    @include media(">=tablet") {
      width: 33%;
      height: 96px;
      min-height: 96px;
      margin-left: 16px;
    }

    @include media(">=notebook") {
      height: 130px;
      padding: var(--fs-spacing-3);
    }

    .product-details__plan-details {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .product-details__plan {
    display: flex;
    font-size: var(--fs-text-size-1);
    font-weight: var(--fs-text-weight-bold);
    color: #004e98;

    @include media(">=notebook") {
      font-size: var(--fs-text-size-2);
      line-height: 18px;
    }
  }

  .product-details__plan-details {
    padding: 0;
    font-size: 10px;
    font-weight: 13px;
    color: #666;

    @include media(">=notebook") {
      font-size: var(--fs-text-size-0);
      line-height: 16px;
    }
  }

  .product-details__main-content {
    display: flex;
    flex-direction: column;

    .product-details__list {
      display: flex;
      column-gap: 16px;
      justify-content: space-between;
      margin-bottom: 16px;

      @include media(">=tablet") {
        width: 66%;
      }

      .product-details__item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        min-height: 96px;
        padding: var(--fs-spacing-1);
        background-color: #fff;
        border-radius: 8px;

        @include media(">=notebook") {
          height: 130px;
          padding: var(--fs-spacing-3);
        }

        .product-details__plan {
          font-size: var(--fs-text-size-1);

          @include media(">=notebook") {
            font-size: var(--fs-text-size-2);
            line-height: 21px;
          }
        }

        .product-details__plan-details {
          font-weight: var(--fs-text-weight-regular);
          text-decoration: underline;

          @include media(">=tablet") {
            font-weight: var(--fs-text-weight-regular);
          }
        }

        .product-details__price-container {
          display: flex;
          flex-direction: column;

          .product-details__price {
            font-size: var(--fs-text-size-1);
            font-weight: var(--fs-text-weight-bold);
            line-height: 18px;
            color: #000;

            @include media(">=notebook") {
              font-size: var(--fs-text-size-2);
              line-height: 21px;
            }
          }

          .product-details__installment-criteria {
            font-size: 10px;
            font-weight: 600;
            line-height: 13px;
            color: #000;

            @include media(">=notebook") {
              font-size: var(--fs-text-size-0);
              line-height: 16px;
            }
          }
        }
      }
    }

    @include media(">=tablet") {
      flex-direction: row;
    }
  }
}

.product-details__title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

  .product-title {
    width: 100%;

    .product-details__title-container {
      display: flex;
      justify-content: space-between;
    }
  }

  &-content {
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;

    @include media(">=notebook") {
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }
  }

  @include media(">=tablet") {
    grid-row: 1;
    grid-column: 8 / span 4;
    border: 1px solid var(--fs-border-color-light);
    border-radius:
      var(--fs-border-radius-default)
      var(--fs-border-radius-default) 0 0;
  }
}

// Style share icon

.share-icon {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  [data-open-modal-container] {
    max-width: 28px;
    max-height: 28px;

    [data-open-modal-button] {
      cursor: pointer;
      background: none;
      border: none;
    }

    [data-open-modal-text] {
      display: none;
    }
  }

  [data-additional-overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  [data-modal-background] {
    position: relative;
    top: 0;
    right: 175px;
    z-index: 2;
    width: 211.37px;
    height: 96px;
    background-color: white;

    @include media(">=tablet") {
      right: 225px;
      width: 290px;
    }

    [data-modal-share-product-text] {
      display: none;
    }

    [data-modal-product-link-container] {
      display: none;
    }

    [data-modal-copy-link-button] {
      display: none;
    }

    [data-close-modal-button] {
      position: absolute;
      top: 7px;
      right: 1px;
      cursor: pointer;
      background: none;
      border: 0;

      svg {
        path {
          stroke: #555;
        }
      }
    }

    [data-modal-share-links-container] {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      margin-top: 10px;
      font-weight: 600;
      color: #000000;

      [data-modal-links-social] {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin-top: 20px;
      }
    }
  }
}

.product-details__settings {
  max-width: 348px;
  height: fit-content;

  [data-store-sku-selector] {
    margin-bottom: var(--fs-spacing-4);

    &:last-of-type {
      margin-bottom: var(--fs-spacing-7);
    }
  }

  [data-store-buy-button] {
    width: 100%;
    font-weight: 600;
  }

  .price[data-store-price] {
    display: block;

    &[data-variant="spot"] {
      margin: 0;
      font-weight: var(--fs-text-weight-black);
    }
  }

  @include media(">=tablet") {
    grid-row: 2 / span 3;
    grid-column: 8 / span 4;
    padding: var(--fs-spacing-3);
    border: 1px solid var(--fs-border-color-light);
    border-top: 0;
    border-radius:
      0 0 var(--fs-border-radius-default)
      var(--fs-border-radius-default);
  }
}

.product-details__values {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--fs-spacing-4);

  .product-details__prices {
    width: 100%;

    .text__lead {
      font-size: 24px;
      color: #000;
    }

    .product-details__list-price-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 45px;

      [data-fs-discount-badge-variant="high"] {
        font-size: var(--fs-text-size-0);
        font-weight: 700;
      }

      .text__legend {
        font-size: var(--fs-text-size-0);
        color: #555;

        @include media(">=tablet") {
          font-size: var(--fs-text-size-2);
        }
      }
    }
  }
}

// Product description

.product-details__description {
  [data-sf-product-description-container] {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  [data-sf-product-description-item],
  [data-sf-product-description-item-desk] {
    display: inline-flex;
    place-content: center;
    align-items: center;
    max-width: 848px;
    text-align: justify;

    &:last-child {
      [data-sf-nav-container] {
        margin-bottom: 0;
      }
    }
  }

  [data-sf-nav-container] {
    place-content: center;
    place-content: space-between;
    width: 100%;
    max-width: 848px;
    margin: 0 auto;
    margin-bottom: var(--fs-spacing-1);
  }

  [data-sf-nav-item] {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;

    @include media(">=tablet") {
      font-size: 24px;
    }
  }

  [data-sf-nav-link],
  [data-sf-nav-link-desk] {
    display: block;
    cursor: pointer;

    [data-sf-nav-title],
    [data-sf-nav-title-desk] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--fs-spacing-3) var(--fs-spacing-3);
      color: #555555;
      background-color: #f5f5f5;

      &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5V19' stroke='%23004E98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12H19' stroke='%23004E98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      @include media(">=tablet") {
        padding: 0;
        color: #004e98;
        background-color: transparent;

        &::after {
          display: none;
          content: "";
        }
      }
    }

    [data-sf-nav-title-active="true"] {
      font-weight: 600;
      text-decoration: underline;
      background-color: #f5f5f5;

      &::after {
        display: flex;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='%23004E98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      @include media(">=tablet") {
        background-color: transparent;

        &::after {
          display: none;
          content: "";
        }
      }
    }

    [data-sf-nav-title-active="false"] {
      font-weight: 600;

      @include media(">=tablet") {
        color: #666666;
      }
    }
  }

  [data-sf-product-description-item-desk] {
    &::after {
      @include media(">=tablet") {
        width: 56px;
        height: 12px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%23666666' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  [data-sf-description-text],
  [data-sf-description-text-desk] {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: justify;
    white-space: break-spaces;

    @include media(">=notebook") {
      font-size: 16px;
    }
  }

  [data-sf-description-button],
  [data-sf-description-button-desk] {
    display: none;
    width: 142px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  [data-sf-description-container-active="false"] {
    display: none;
  }

  [data-sf-description-container-active="true"] {
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 848px;
    padding: var(--fs-spacing-3) var(--fs-spacing-3);
    background-color: var(--fs-color-neutral-15);

    @include media(">=tablet") {
      background-color: transparent;
    }
  }

  @media (min-width: 768px) {
    [data-sf-description-show-more="false"] {
      overflow: hidden;
    }
  }

  @media (max-width: 768px) {
    [data-sf-description-button] {
      display: none;
    }

    [data-sf-product-description-container] {
      flex-direction: column;
    }

    [data-sf-description-container-active="true"] {
      position: relative;
    }
  }

  [data-sf-nav-title] {
    line-height: 1.375rem;

    @include media(">=tablet") {
      gap: 1rem;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: left;
      background-color: transparent;
    }
  }

  [data-sf-product-description-container-name] {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--fs-spacing-3) var(--fs-spacing-3);
    font-size: 16px;
    font-weight: 700;
    color: #004e98;

    @include media(">=tablet") {
      line-height: 30px;

      [data-sf-product-description-item-desk] {
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    @include media(">=notebook") {
      font-size: 20px;
    }
  }

  .divisor-product-details {
    padding-bottom: 24px;
    border-bottom: 1px solid #dddddd;
  }
}

.product-questions__container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  .product-questions__button {
    display: block;
    width: 217px;
    height: 40px;
    margin: var(--fs-spacing-4) auto 0;
    font-size: var(--fs-text-size-1);
    color: #666;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: var(--fs-border-radius-default);

    &:hover {
      color: #666;
      background: #fff;
      border: 1px solid #ddd;
    }
  }

  @include media(">=notebook") {
    flex-direction: row;
    grid-column: span 8;
    padding: 0;
  }

  .text__title-subsection {
    font-size: 16px;
    font-weight: var(--fs-text-weight-bold);
    line-height: 21px;
    color: #000;

    @include media(">=notebook") {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .product-questions__load-more {
    width: 100%;
    max-width: 348px;
  }

  .product-questions-component {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #dddddd;

    @include media(">=notebook") {
      padding-bottom: unset;
      margin-right: 44px;
      margin-bottom: unset;
      border-bottom: none;

      .product-questions__list {
        padding-right: 44px;
        border-right: 1px solid #dddddd;
      }
    }

    .product-questions__item {
      padding: var(--fs-spacing-3) 0;
      border-radius: var(--fs-border-radius-small);

      @include media(">=notebook") {
        grid-column: span 8;
        width: 348px;
        padding: var(--fs-spacing-3);
      }

      .product-questions__text-container {
        display: flex;

        .text__question {
          padding-bottom: var(--fs-spacing-4);
          font-size: var(--fs-text-size-1);
          font-weight: 600;
          line-height: 18px;
          color: #555;
        }

        .text__body-answer {
          line-height: 18px;
          color: #555;
        }
      }

      @include media(">=notebook") {
        &:nth-child(odd) {
          background-color: #f5f5f5;
        }
      }
    }
  }
}

.image-not-found {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 242px;
  height: 20px;
  margin: auto;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}
