@import "src/styles/scaffold";

.best-courses {
  display: block;
  width: calc(100% - 32px);

  @include media(">=notebook") {
    width: calc(100% - 80px);
  }

  .best-courses__title {
    font-size: 14px;
    line-height: 18px;
    color: #ff3452;
  }

  .best-courses__subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;

    @include media(">=notebook") {
      line-height: 24px;
    }
  }

  .best-courses__content {
    padding-top: 16px;
    border-top: 1px solid #dddddd;

    [data-bubble-links-container] {
      [data-bubble-links-content] {
        display: flex;
        justify-content: space-between;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        [data-bubble-links-wrapper] {
          display: flex;
          align-items: center;
          min-width: 112px;
          height: 70px;
          padding: 0 2px;
          margin: 0 5px;
          border: 1px solid #dddddd;
          border-radius: 8px;

          @include media(">=notebook") {
            min-width: 120px;
            max-width: 126px;
            height: 107px;
            margin: 0 11px;
          }

          [data-bubble-links-link] {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-decoration: none;
            text-overflow: clip;
            white-space: nowrap;

            [data-bubble-links-img] {
              width: 25px;
              height: 25px;

              @include media(">=notebook") {
                width: auto;
                height: auto;
              }
            }

            [data-bubble-links-name] {
              margin-top: 8px;
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              color: #666666;

              @include media(">=notebook") {
                margin-top: 16px;
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }

        [data-bubble-links-wrapper]:hover {
          background-color: #f5f5f5;
        }

        [data-bubble-links-wrapper]:hover [data-bubble-links-name] {
          color: #ff3452;
        }
      }
    }
  }
}
