@import "src/styles/scaffold";

.banner-info-produtor {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .banner-info-produtor__content {
    position: relative;
    width: 100%;

    [data-banner-content] {
      position: absolute;
      top: 40%;
      left: 1rem;
      color: #fff;

      @include media(">=notebook") {
        left: 10rem;
      }

      .banner-info-produtor__title {
        width: 215px;
        max-height: 52px;
        margin-bottom: 8px;
        overflow: hidden;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;

        @include media(">=notebook") {
          width: 430px;
          max-height: 96px;
          font-size: 32px;
          line-height: 48px;
        }
      }
    }

    .banner-info-produtor__image {
      width: 100%;
    }
  }
}
