@import "src/styles/scaffold";

.scroll-to-top-button {
  .visible-top {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .hidden-top {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .scroll-to-top-button__content {
    position: fixed;
    bottom: 15%;
    z-index: 2;

    @include media(">=desktop") {
      left: auto;
    }

    [data-store-button] {
      display: flex;
      align-items: center;
      width: 16px;
      height: 30px;
      padding: 0 3px 0 1px;
      color: #fff;
      cursor: pointer;
      background-color: #004e98;
      border: 0;
      border-radius: 0 8px 8px 0;

      @include media(">=notebook") {
        width: 30px;
        height: 40px;
        padding: 0 1px 0 4px;
      }
    }
  }
}
