@import "src/styles/scaffold";

[data-store-search-input] {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: var(--fs-control-tap-size);

  :focus-visible {
    border: 1px solid #e5f1fe;
    outline: none;
  }

  @include media(">=notebook") {
    height: var(--fs-spacing-6);
  }

  [data-store-input] {
    width: 100%;
    height: 40px;
    padding: 0 25px 0 48px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: box-shadow 0.2s ease, border 0.2s ease;

    &:hover {
      border-color: var(--fs-border-color-default-active);
      box-shadow:
        0 0 0 var(--fs-border-width-default)
        var(--fs-border-color-default-active);
    }
  }

  [data-store-icon] {
    display: block;
    line-height: 1;
  }

  [data-store-button] {
    .search-icon-desktop {
      display: none;
    }

    .search-icon-mobile {
      display: inline-block;
    }

    left: 0;
    width: var(--fs-spacing-7);
    height: var(--fs-spacing-7);
    padding: 0;
    background-color: transparent;
    border: 0;

    @include media(">=notebook") {
      .search-icon-desktop {
        display: inline-block;
      }

      .search-icon-mobile {
        display: none;
      }

      position: absolute;
      height: var(--fs-spacing-6);
      min-height: var(--fs-spacing-6);
    }
  }

  [data-store-button] svg {
    width: var(--fs-spacing-4);
    height: var(--fs-spacing-4);
  }
}
