@import "src/styles/scaffold";

.common-questions{
  width: 100%;
  padding: 1rem;
  
  @include media(">=notebook") {
    background-color: #F5F5F5;
    padding: 2.5rem 2.5rem;
    min-height: 418px;
  }

  &__title{
    font-size: 14px;
    font-weight: 600;
    color: #004E98;
    padding-bottom: 1rem;
    
    @include media(">=notebook") {
      padding-bottom: 2rem;
      font-size: 24px;
    }

  }

  &__container{
    display: flex;
    flex-direction: column;
    
    @include media(">=notebook") {
      gap: 2rem;
      flex-direction: row;
    }

    &__row{
      flex: 1;
    }
  }

  [data-accordion-container]{
    margin-bottom: 0.2rem;
    padding: 13px 8px;
    width: 100%;
    background-color: #F5F5F5;

    @include media(">=notebook") {
      background-color: #FFFFFF;
      margin-bottom: 0.3rem;
      padding: 1.5rem 1rem;
    }

    [data-accordion-title]{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      [data-accordion-title-text] {
        font-size: 12px;
        font-weight: 600;
        color: #004E98;
        margin-right: 1rem;

        @include media(">=notebook") {
          font-size: 14px;
        }
    
      }
    }

    [data-accordion-content] {
      margin-top: 1rem;

      font-size: 12px;
      color: #666666;
    }
 }
}