@import "src/styles/scaffold";

.container-imagem-banner-medium {
  display: flex;
  justify-content: center;
  max-width: calc(100% - 32px);

  @include media(">=tablet") {
    max-width: unset;
  }

  .imagem-banner-medium {
    width: 100%;
  }

  a {
    width: 100%;
  }
}
