@import "src/styles/scaffold";

.Container-imagem-banner-medium {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.imagem-banner-medium {
  width: 100%;
  max-width: 1920px;
  min-height: 129px;
}

a {
  width: 97%;
  max-width: 1920px;
  height: 100%;
  margin: auto;
}
