@import "src/styles/scaffold";

.buy-box__container {
  display: flex;
  flex-direction: column;

  .buy-box__content {
    position: relative;

    .component-Buybox__content {
      position: absolute;
      top: 10%;
      left: 16px;
      display: flex;
      flex-direction: column;
      width: 271px;
      height: 160px;
      background: rgb(255 255 255 / 20%);
      border: 1px solid rgb(255 255 255 / 20%);
      border-radius: 8px;
      backdrop-filter: blur(35px);
    }

    .banner-planos__image {
      width: 100%;
    }

    .titulo-compartilhar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      margin: 16px 16px 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: #ffffff;
    }

    .share-icon {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      [data-open-modal-container] {
        max-width: 28px;
        max-height: 28px;

        [data-open-modal-button] {
          cursor: pointer;
          background: none;
          border: none;
        }

        [data-open-modal-text] {
          display: none;
        }
      }

      [data-additional-overlay] {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
      }

      [data-modal-background] {
        position: relative;
        top: 0;
        right: 175px;
        z-index: 2;
        width: 211.37px;
        height: 96px;
        background-color: white;

        @include media(">=tablet") {
          right: 225px;
          width: 290px;
        }

        [data-modal-share-product-text] {
          display: none;
        }

        [data-modal-product-link-container] {
          display: none;
        }

        [data-modal-copy-link-button] {
          display: none;
        }

        [data-close-modal-button] {
          position: absolute;
          top: 7px;
          right: 1px;
          cursor: pointer;
          background: none;
          border: 0;
        }

        [data-modal-share-links-container] {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;
          margin-top: 10px;
          font-weight: 600;
          color: #000000;

          [data-modal-links-social] {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            margin-top: 20px;
          }
        }
      }
    }

    .titulo-planos {
      align-self: flex-start;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: #ffffff;
    }

    .preco {
      margin-top: 8px;
      margin-left: 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: #ffffff;
    }

    .botao {
      margin: 0 16px;
    }

    .texto-botao {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      padding: 10px 20px;
      margin-top: 11px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #ffffff;
      background: #ff3452;
      border: none;
      border-radius: 4px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .buy-box__container {
    display: flex;
    flex-direction: row;

    .buy-box__content {
      position: relative;

      .component-Buybox__content {
        position: absolute;
        top: 35px;
        left: 156px;
        display: flex;
        flex-direction: column;
        width: 432px;
        height: 222px;
        background: rgb(255 255 255 / 20%);
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 8px;
        backdrop-filter: blur(35px);

        .titulo-compartilhar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 72px;
          margin: 20px 16px 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          color: #ffffff;
        }

        .titulo-planos {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          color: #ffffff;
        }

        .preco {
          margin-top: 25px;
          margin-left: 16px;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          color: #ffffff;
        }

        .texto-botao {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 40px;
          padding: 10px 20px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          color: #ffffff;
          background: #ff3452;
          border: none;
          border-radius: 4px;
        }
      }
    }
  }
}
