@import "src/styles/scaffold";

.breadcrumb {
  padding-top: var(--fs-spacing-0);
  padding-bottom: var(--fs-spacing-0);

  li {
    a {
      font-size: 14px;

      @include media(">=notebook") {
        font-size: 16px;
      }
    }
  }
}

section {
  &.breadcrumb {
    padding: 50px 0;
  }
}
