@import "src/styles/scaffold";

.footer {
  background-color: #FFFFFF;
  padding-bottom: 36px;

  content-visibility: auto;
  contain-intrinsic-size: rem(860px);

  @include media(">=notebook") {
    contain-intrinsic-size: rem(546px);
  }
}

.text__title-mini {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #004E98;
  padding-bottom: 18px;
}

.footer__section {
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;

  @include media(">=notebook") {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
}

.footer__note {
  position: relative;

  @include media("<notebook") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &::before {
      padding-bottom: var(--fs-spacing-4);
    }
  }

  @include media(">=notebook") {
    row-gap: var(--fs-grid-gap-4);
    padding-top: 0;
  }

  [data-store-payment-methods] {
    margin: var(--fs-spacing-4) auto;

    @include media(">=notebook") {
      grid-column: 11 / span 2;
      order: 3;
      margin: 0;
    }
  }

  [data-store-icon] {
    @include media(">=notebook") {
      grid-column: span 2;
    }
  }
}

.footer__social {
  grid-row: 3;
  display: flex;
  flex-direction: column;

  @include media(">=notebook") {
    grid-column: 2 / span 1;
    grid-row: 1;
    padding-left: 65px;
  }

  .text__title-mini {
    display: none;

    @include media(">=notebook") {
      display: block;
      text-align: left;
    }
  }

  [data-store-list] {
    display: flex;
    justify-content: center;
    margin-top: var(--fs-spacing-1);

    @include media(">=notebook") {
      justify-content: space-between;
      margin-top: 0;
    }

    [data-store-link] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: var(--fs-control-tap-size);
      min-height: var(--fs-control-tap-size);
      padding: var(--fs-spacing-1);

      @include media(">=notebook") {
        padding: 0;
      }

      svg {
        width: 18px;
        height: 18px;

        @include media(">=notebook") {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.footer__copyright {
  grid-row: 2;
  padding: 28px 0 20px;

  p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #666666;
    text-align: center;

    @include media(">=notebook") {
      font-size: 16px;
      line-height: 21px;
      max-width: 780px;
      margin: auto;
    }
  }

  p + p {
    margin: var(--fs-spacing-2) auto;
  }

  address {
    font-style: normal;
  }

  @include media(">=notebook") {
    grid-column: 1 / span 5;
    grid-row: 2;
    border-top: 1px solid #DDDDDD;
  }
}

.footer__links, .footer__links-columns {
  .parceiros {
    [data-store-list] {
      display: flex;
      flex-direction: column;
    }
  }

  .formasdepagamento {
    [data-store-list] {
      display: flex;
      flex-wrap: wrap;
      max-width: 393px;

      @include media(">=notebook") {
        max-width: 236px;
      }

      li {
        padding: 0 10px 16px 0;

        @include media(">=notebook") {
            padding-left: 6px;
        }

        &:last-child {
          padding-left: 30px;

          @include media(">=notebook") {
            padding-left: 6px;
          }
        }

        .subitem-wrapper {
          display: flex;
          align-items: center;

          li {
            padding: 0 16px 16px 0;

            @include media(">=notebook") {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  .tecnologiaedesenvolvimento {
    [data-store-list] {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 393px;

      @include media(">=notebook") {
        max-width: 280px;
      }

      li {
        padding: 0 14px 16px 6px;

        &:not(:first-child) {
          padding: 0 145px 16px 6px;

          @include media(">=notebook") {
            padding: 0 85px 16px 6px;
          }
        }

        .subitem-wrapper {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.footer__links {
  grid-row: 1;

  .accordion[data-store-accordion] {
    [data-store-button] {
      color: #004E98;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      line-height: 24px;
      font-size: 14px;

      &[aria-expanded="true"] {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
      }
    }
  }

  [data-fs-link-variant=footer] {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    padding: 0;

    &:visited {
      color: #666666;
    }
  }

  [data-store-list] {
    margin-bottom: var(--fs-spacing-2);

    @include media(">=notebook") {
      display: flex;
      flex-wrap: wrap;
      max-width: 175px;
    }

    li {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #666666;
      padding: 0 0 16px;

      @include media(">=notebook") {
        padding-bottom: 16px;
      }

      p {
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        line-height: 13px;
        font-weight: 400;
        color: #555555;
        padding: 0 0 7px;
      }

      .subitem-wrapper {
        @include media(">=notebook") {
          display: flex;
          align-items: center;
        }

        li {
          @include media(">=notebook") {
            padding: 0 16px 0 0;
          }
        }
      }
    }
  }

  [data-store-link] {
    display: inline-block;
    padding-left: 0;
  }

  [data-store-icon] [data-icon] {
    display: none;
  }

  [data-store-icon] [data-icon="expanded"] {
    display: initial;
  }

  [data-store-icon] [data-icon="collapsed"] {
    display: initial;
  }
}

.footer__links-columns {
  grid-row: 1;
  grid-column: 1 / span 4;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
