@import "src/styles/scaffold";

.footer {
  background-color: #FFFFFF;
  padding-bottom: 36px;

  content-visibility: auto;
  contain-intrinsic-size: rem(860px);

  @include media(">=notebook") {
    contain-intrinsic-size: rem(546px);
  }
}

.footer__note,
.footer__section {
  position: relative;
  display: flex;

  @include media("<notebook") {
    flex-direction: column;
  }

  @include media(">=notebook") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--fs-grid-gap-3);
  }
}

.footer__section {
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;

  @include media(">=notebook") {
    row-gap: var(--fs-spacing-7);
    padding-bottom: var(--fs-spacing-7);
  }
}

.footer__note {
  position: relative;

  @include media("<notebook") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    &::before {
      padding-bottom: var(--fs-spacing-4);
    }
  }

  @include media(">=notebook") {
    row-gap: var(--fs-grid-gap-4);
    padding-top: 0;
  }

  [data-store-payment-methods] {
    margin: var(--fs-spacing-4) auto;

    @include media(">=notebook") {
      grid-column: 11 / span 2;
      order: 3;
      margin: 0;
    }
  }

  [data-store-icon] {
    @include media(">=notebook") {
      grid-column: span 2;
    }
  }

  [data-payment-methods-flags] {
    .text__title-mini {
      margin-bottom: var(--fs-spacing-3);
      text-align: center;

      @include media(">=notebook") {
        text-align: left;
      }
    }

    svg {
      border: var(--fs-border-width-default) solid var(--fs-color-neutral-3);
      border-radius: var(--fs-border-radius-small);
    }

    [data-store-list] {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, max-content));
      row-gap: var(--fs-spacing-1);
      justify-content: space-between;

      @include media("<notebook") {
        column-gap: var(--fs-grid-gap-2);
      }
    }
  }
}

.footer__social {
  grid-row: 3;
  display: flex;
  flex-direction: column;

  @include media(">=notebook") {
    grid-column: 11 / span 2;
  }

  .text__title-mini {
    display: none;

    @include media(">=notebook") {
      display: block;
      text-align: left;
    }
  }

  [data-store-list] {
    display: flex;
    justify-content: center;
    margin-top: var(--fs-spacing-1);

    @include media(">=notebook") {
      justify-content: space-between;
      margin-top: var(--fs-spacing-0);
    }

    [data-store-link] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: var(--fs-control-tap-size);
      min-height: var(--fs-control-tap-size);
      padding: var(--fs-spacing-1);

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.footer__copyright {
  grid-row: 2;

  p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #666666;
    text-align: center;
  }

  p + p {
    margin: var(--fs-spacing-2) auto;
  }

  address {
    font-style: normal;
  }

  @include media(">=notebook") {
    grid-column: span 6;
  }
}

.footer__links {
  grid-row: 1;

  .accordion[data-store-accordion] {
    [data-store-button] {
      color: #004E98;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      line-height: 24px;
      font-size: 14px;

      &[aria-expanded="true"] {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
      }
    }

    .formasdepagamento {
      [data-store-list] {
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 0 10px 16px 6px;

          &:last-child {
            padding-left: 30px;
          }

          .subitem-wrapper {
            display: flex;
            align-items: center;

            li {
              padding: 0 16px 16px 0;
            }
          }
        }
      }
    }

    .tecnologiaedesenvolvimento {
      [data-store-list] {
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 0 14px 0 0;

          &:not(:first-child) {
            padding: 0 130px 16px 6px;
          }

          .subitem-wrapper {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  [data-fs-link-variant=footer] {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    padding: 0;

    &:visited {
      color: #666666;
    }
  }

  [data-store-list] {
    margin-bottom: var(--fs-spacing-2);

    li {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #666666;
      padding: 0 0 16px;

      p {
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        line-height: 13px;
        font-weight: 400;
        color: #555555;
        padding: 0 0 7px;
      }
    }
  }

  [data-store-link] {
    display: inline-block;
    padding-left: 0;
  }

  @include media(">=notebook") {
    grid-column: span 8;
  }

  [data-store-icon] [data-icon] {
    display: none;
  }

  [data-store-icon] [data-icon="expanded"] {
    display: initial;
  }

  [data-store-icon] [data-icon="collapsed"] {
    display: initial;
  }
}

.footer__links-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--fs-grid-gap-3);

  .text__title-mini {
    margin-bottom: var(--fs-spacing-1);
  }
}
