@import "src/styles/scaffold";

[data-fs-product-shelf] {
  // --------------------------------------------------------
  // Design Tokens for Product Shelf
  // --------------------------------------------------------

  --fs-product-shelf-min-height: 21.06rem;

  --fs-product-shelf-items-gap: var(--fs-grid-gap-1);
  --fs-product-shelf-items-padding-top: 0;
  --fs-product-shelf-items-padding-bottom: var(--fs-spacing-3);

  --fs-product-shelf-first-item-margin-left: calc(-1 * var(--fs-spacing-1));

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  min-height: var(--fs-product-shelf-min-height);
}

.plans-shelf {
  .product-shelf-container {
    .product-shelf-title {
      border-bottom: none;
    }
  }
}

.product-shelf-container {
  width: 100%;

  @include media(">=tablet") {
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 2rem auto;
  }

  .product-shelf-title {
    padding-bottom: 8px;
    margin-bottom: 1.75rem;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #dddddd;

    @include media("<=tablet") {
      padding-left: 0;
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  .product-shelf-pretitle {
    font-size: 14px;
    color: #ff3452;

    @include media("<=tablet") {
      padding-left: 16px;
    }
  }

  .carousel-content {
    position: relative;
    padding: 0 10px;

    @include media(">=notebook") {
      padding: 0 24px;
    }

    @media screen and (max-width: 375px) {
      padding: 0;
      margin: 0 6px;
    }

    div {
      .carousel-container {
        overflow: hidden !important; /* stylelint-disable-line declaration-no-important */

        .product-shelf__content {
          display: flex;
          justify-content: center;
          padding: 0 3px;

          @include media(">=phonemid") {
            padding: 0 10px;
          }

          @include media(">=notebook") {
            padding: 0 14px;
          }
        }

        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          min-width: 143px;
          min-height: 382px;
          padding: 0;
          border: 0;

          h3 {
            min-height: 80px;

            @include media(">=notebook") {
              min-height: 40px;
            }
          }

          div {
            min-width: 100px;
          }
        }
      }
    }

    .carousel-arrow-button-prev,
    .carousel-arrow-button-next {
      position: absolute;
      top: 20%;
      z-index: 2;
    }

    .carousel-arrow-button-prev {
      left: 0;

      @include media(">phonemid") {
        left: 10px;
      }

      @include media(">=notebook") {
        left: 24px;
      }
    }

    .carousel-arrow-button-next {
      right: 0;

      @include media(">phonemid") {
        right: 10px;
      }

      @include media(">=notebook") {
        right: 24px;
      }
    }
  }

  [data-fs-product-shelf-items] {
    align-items: stretch;
    justify-content: center;
    width: 100%;

    @include media(">phonemid") {
      padding: 0 16px;
    }

    @include media(">=notebook") {
      padding: 0 24px;
    }

    li {
      flex: 1;
      padding: 0 3px;

      @include media(">=phonemid") {
        padding: 0 10px;
      }

      @include media(">=notebook") {
        padding: 0 14px;
      }

      [data-store-product-card-skeleton] {
        min-height: 396px;

        @include media(">=notebook") {
          height: 404px;
        }
      }
    }
  }
}
