@import "src/styles/scaffold";

[data-fs-product-shelf] {
  // --------------------------------------------------------
  // Design Tokens for Product Shelf
  // --------------------------------------------------------

  --fs-product-shelf-min-height             : 21.06rem;

  --fs-product-shelf-items-gap              : var(--fs-grid-gap-1);
  --fs-product-shelf-items-padding-top      : 0;
  --fs-product-shelf-items-padding-bottom   : var(--fs-spacing-3);

  --fs-product-shelf-first-item-margin-left : calc(-1 * var(--fs-spacing-1));

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  min-height: var(--fs-product-shelf-min-height);
}

.product-shelf-container {
  width: 100%;

  @include media(">=tablet") {
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 2rem auto;
  }
}

.product-shelf-title {
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 700;
}

.carousel-content {
  div {
    .carousel-container {
      overflow: hidden !important; /* stylelint-disable-line declaration-no-important */

      .container-item {
        display: flex;
        justify-content: center;
        padding: 0;
      }
    }

    .carousel-arrow-button-prev, .carousel-arrow-button-next {
      z-index: 2;
      margin-top: -5%;
    }

    .carousel-arrow-button-prev {
      margin-right: -40px;
    }

    .carousel-arrow-button-next {
      margin-left: -40px;
    }
  }
}
