@import "src/styles/scaffold";

[data-fs-product-shelf] {
  // --------------------------------------------------------
  // Design Tokens for Product Shelf
  // --------------------------------------------------------

  --fs-product-shelf-min-height: 21.06rem;

  --fs-product-shelf-items-gap: var(--fs-grid-gap-1);
  --fs-product-shelf-items-padding-top: 0;
  --fs-product-shelf-items-padding-bottom: var(--fs-spacing-3);

  --fs-product-shelf-first-item-margin-left: calc(-1 * var(--fs-spacing-1));

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  min-height: var(--fs-product-shelf-min-height);
}

.plans-shelf {
  .product-shelf-container {
    .product-shelf-title {
      border-bottom: none;
    }
  }
}

.product-shelf-container {
  width: calc(100% - 32px);
  margin-right: auto;
  margin-left: auto;

  @include media(">=tablet") {
    width: 100%;
    margin: 2rem auto;
  }

  @include media(">=tablet", "<desktop") {
    max-width: var(--fs-grid-breakpoint-notebook);
  }

  @include media(">=desktop") {
    max-width: var(--fs-grid-breakpoint-desktop);
  }

  .product-shelf-title {
    padding-bottom: 8px;
    margin-bottom: 1.75rem;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #dddddd;
  }

  .product-shelf-pretitle {
    font-size: 14px;
    color: #ff3452;
  }

  .carousel-content {
    position: relative;

    @include media(">=tablet") {
      margin: 0 -20px;
    }

    div {
      .carousel-container {
        overflow: hidden !important; /* stylelint-disable-line declaration-no-important */
      }
    }

    .carousel-arrow-button-prev,
    .carousel-arrow-button-next {
      position: absolute;
      top: 20%;
      z-index: 2;
    }

    .carousel-arrow-button-prev {
      left: -7px;

      @include media(">tablet") {
        left: 0;
      }
    }

    .carousel-arrow-button-next {
      right: -7px;

      @include media(">tablet") {
        right: 0;
      }
    }
  }

  .product-shelf__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
  }

  [data-fs-product-shelf-items] {
    align-items: stretch;
    justify-content: center;
    width: 100%;

    @include media(">phonemid") {
      padding: 0 16px;
    }

    @include media(">=notebook") {
      padding: 0 24px;
    }

    li {
      flex: 1;
      padding: 0 3px;

      @include media(">=phonemid") {
        padding: 0 10px;
      }

      @include media(">=notebook") {
        padding: 0 14px;
      }

      [data-store-product-card-skeleton] {
        min-height: 396px;

        @include media(">=notebook") {
          height: 404px;
        }
      }
    }
  }
}
